# Killings by Police

#### I'm trying to create a base report for police killings in 2019.

In [8]:
# Dependencies and Setup
import pandas as pd
import numpy as np
from scipy import stats
%matplotlib inline
import matplotlib.pyplot as plt

In [6]:
file_to_load = "/Users/fernandaw/Documents/CODE/DATA ANALYSIS/COP SHOOTINGS/fatal-police-shootings-data.csv"

# Read Purchasing File and store into Pandas data frame
load_data = pd.read_csv(file_to_load, encoding= 'unicode_escape')

In [7]:
list(load_data)

['id',
 'name',
 'date',
 'manner_of_death',
 'armed',
 'age',
 'gender',
 'race',
 'city',
 'state',
 'signs_of_mental_illness',
 'threat_level',
 'flee',
 'body_camera']

In [19]:
load_data.dtypes

id                           int64
name                        object
date                        object
manner_of_death             object
armed                       object
age                        float64
gender                      object
race                        object
city                        object
state                       object
signs_of_mental_illness       bool
threat_level                object
flee                        object
body_camera                   bool
dtype: object

In [15]:
load_data.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False

In [44]:
# convert date column to string
load_data['date'] = load_data['date'].astype(str)
load_data['date'] is string

False

In [49]:
date_list = load_data['date'].tolist()
date_list[1][:4]

'2015'

In [66]:
# create list that will include just the YEAR
new_dates = []

# loop through items in list
for item in date_list:
    
    # slice the string and save it into a list
    item = item[:4]
    new_dates.append(item)
    
#new_dates

# This is what you're looking for

### Here is a breakdown of the important markers from 2019. It includes:
- how many people were fleeing
- the threat level
- signs of mental illness
- how many people were armed
- a breakdown of race
- a breakdown of gender

In [102]:
# create a new dataframe just for 2019
is_2019 = df['date']=='2019'
df_2019 = df[is_2019]

# how many perps were fleeing?
df_2019['flee'].value_counts()

Not fleeing    593
Car            175
Foot           137
Other           21
Name: flee, dtype: int64

In [103]:
# how many perps were a high threat level?
df_2019['threat_level'].value_counts()

attack          691
other           278
undetermined     32
Name: threat_level, dtype: int64

In [105]:
# how many perps showed signs of mental illness?
df_2019['signs_of_mental_illness'].value_counts()

False    803
True     198
Name: signs_of_mental_illness, dtype: int64

In [107]:
# how many perps were armed?
df_2019['armed'].value_counts()

gun                       584
knife                     142
vehicle                    61
unarmed                    55
toy weapon                 26
undetermined               20
unknown weapon             19
gun and vehicle             8
sword                       7
sharp object                7
ax                          7
hammer                      5
baseball bat                5
Taser                       5
machete                     4
scissors                    3
hatchet                     3
gun and car                 3
piece of wood               2
gun and knife               2
BB gun                      2
screwdriver                 2
crowbar                     2
shovel                      2
box cutter                  2
flashlight                  1
wasp spray                  1
samurai sword               1
pellet gun                  1
Airsoft pistol              1
BB gun and vehicle          1
walking stick               1
vehicle and machete         1
garden tool                 1
rock                        1
baseball bat and knife      1
chain                       1
grenade                     1
wrench                      1
baton                       1
vehicle and gun             1
straight edge razor         1
air pistol                  1
car, knife and mace         1
barstool                    1
beer bottle                 1
chair                       1
ice pick                    1
Name: armed, dtype: int64

In [108]:
# what about race?
df_2019['race'].value_counts()

W    404
B    250
H    163
A     19
N     13
O      9
Name: race, dtype: int64

In [110]:
# what about gender?
df_2019['gender'].value_counts()

M    958
F     43
Name: gender, dtype: int64